name: RDP_Final_Browser_Link

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Enable RDP
        run: |
          net user kamel123 MyStrong123 /add
          net localgroup administrators kamel123 /add
          Set-ItemProperty -Path 'HKLM:\System\ControlSet001\Control\Terminal Server' -Name 'fDenyTSConnections' -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Start Tunnel
        shell: cmd
        run: |
          echo "جاري تشغيل الرابط... انتظر 10 ثواني وحدث الصفحة"
          ssh -o StrictHostKeyChecking=no -p 443 -R0:localhost:3389 a.pinggy.io
